@page "/"
@using KomakallioPanel.Shared

<div class="container">
	<ImagePanel Id="metsahovi" DisplayName="Metsähovi" SourceUrl="https://www.metsahovi.fi/allsky-gallery" />
	<ImagePanel Id="testbed" DisplayName="FMI Testbed" SourceUrl="https://testbed.fmi.fi" />
	<ImagePanel Id="sat24ir" DisplayName="Sat24 Infrared" SourceUrl="https://www.sat24.com/en-gb/country/se/hd#selectedLayer=euInfra" />
	<ImagePanel Id="sat24visual" DisplayName="Sat24 Visual" SourceUrl="https://www.sat24.com/en-gb/country/se/hd#selectedLayer=euVisible" />
	<ImagePanel Id="sun_moon_kk" DisplayName="Darkness Graph" SourceUrl="https://www.ursa.fi/~lkangas/kk/" />
	<ImagePanel Id="bromarv" DisplayName="Bromarv Allsky" SourceUrl="https://bromarv-astro.cloud/allsky-latest.jpg" />
	<ImagePanel Id="tahtikallio" DisplayName="Tähtikallio Allsky" SourceUrl="https://www.ursa.fi/tahtikallio.html" />
	<ImagePanel Id="hankasalmi" DisplayName="Hankasalmi Allsky" SourceUrl="https://www.ursa.fi/yhd/sirius/sivut/" />
</div>
