@page "/"
@using KomakallioPanel.JobManagement
@using KomakallioPanel.Shared
@inject IImageManager ImageManager

<div class="container">
    @foreach (var p in panelValues)
    {
        <ImagePanel Id="@p.Id" DisplayName="@p.DisplayName" LinkUrl="@p.SourceUrl" ImagePath="@p.ImageUri" />
    }
    <ClearOutsideForecast />
</div>

@code {
    internal record class Panel(string Id, string DisplayName, string SourceUrl, string ImageUri);
    List<Panel> panelValues = new();

    protected override void OnInitialized()
    {
        UpdatePanels();
        ImageManager.ListChanged += HandleListChanged!;
    }

    private async void HandleListChanged()
    {
        await InvokeAsync(() =>
        {
            UpdatePanels();
            StateHasChanged();
        });
    }

    private void UpdatePanels()
    {
        panelValues = ImageManager
            .GetImages()
            .Select(i => new Panel(i.Id, i.DisplayName, i.SourcePage.ToString(), i.ImagePath.ToString()))
            .ToList();
    }
}
