@page "/"
@using KomakallioPanel.Jobs
@using KomakallioPanel.Shared
@inject IImageManagerThingy ImageManager

<div class="container">
	@if (imageSettings is not null)
	{
		@foreach (var i in imageSettings)
		{
			<ImagePanel Id="@i.Id" DisplayName="@i.DisplayName" SourceUrl="@i.SourcePage.ToString()" />
		}
	}
</div>

@code {
	private IReadOnlyList<ImageSettings>? imageSettings;

	protected override void OnInitialized()
	{
		imageSettings = ImageManager.GetImages();
		ImageManager.ListChanged += HandleListChanged!;
	}

	private async void HandleListChanged(object sender, EventArgs e)
	{
		await InvokeAsync(() =>
		{
			// TODO: This still doesn't seem to update any of the images, probably because
			// none of the ImageSettings actually change, so the panels are not rerendered
			StateHasChanged();
		});
	}
}
