@page "/"
@using KomakallioPanel.JobManagement
@using KomakallioPanel.Shared
@inject IImageManager ImageManager

<div class="container">
    @foreach (var p in panelValues)
    {
        <ImagePanel Id="@p.Id" DisplayName="@p.DisplayName" SourceUrl="@p.SourceUrl" CacheBuster="@p.CacheBuster" />
    }
</div>

@code {
    internal record class Panel(string Id, string DisplayName, string SourceUrl, string CacheBuster);
    List<Panel> panelValues = new();

    protected override void OnInitialized()
    {
        InitializePanelValues();
        ImageManager.ListChanged += HandleListChanged!;
    }

    private async void HandleListChanged(string key)
    {
        await InvokeAsync(() =>
        {
            UpdatePanel(key);
            StateHasChanged();
        });
    }

    private void InitializePanelValues()
    {
        panelValues = ImageManager
            .GetImages()
            .Select(i => new Panel(i.Id, i.DisplayName, i.SourcePage.ToString(), Random.Shared.NextInt64().ToString()))
            .ToList();
    }

    private void UpdatePanel(string key)
    {
        var panelIndex = panelValues.FindIndex(p => p.Id == key);
        panelValues[panelIndex] = panelValues[panelIndex] with { CacheBuster = Random.Shared.NextInt64().ToString() };
    }
}
