@page "/"

<div class="container">
	<div id="perkkaa">
		<a href="https://komakallio.avaruusasema.org/images/perkkaa-latest.jpg">
			<img src="https://komakallio.avaruusasema.org/images/perkkaa-latest.jpg" />
		</a>
		<h3>
			<a href="http://www.puuppa.org/~pnuu/sky-cam/">Perkkaa</a>
		</h3>
	</div>
</div>
