@page "/"
@using KomakallioPanel.Jobs
@using KomakallioPanel.Shared
@inject IImageManager ImageManager

<div class="container">
    @foreach (var p in panelValues)
    {
        <ImagePanel Id="@p.id" DisplayName="@p.displayName" SourceUrl="@p.sourceUrl" cacheBuster="@p.cacheBuster" />
    }
</div>

@code {
    List<(string id, string displayName, string sourceUrl, string cacheBuster)> panelValues = new();

    protected override void OnInitialized()
    {
        UpdatePanelValues();
        ImageManager.ListChanged += HandleListChanged!;
    }

    private async void HandleListChanged()
    {
        // TODO: Only update the image that has changed and not all of them
        await InvokeAsync(() =>
        {
            UpdatePanelValues();
            StateHasChanged();
        });
    }

    private void UpdatePanelValues()
    {
		panelValues = ImageManager
			.GetImages()
			.Select(i => (i.Id, i.DisplayName, i.SourcePage.ToString(), Random.Shared.NextInt64().ToString()))
			.ToList();
    }
}
