<div id="@Id">
    <a href="@Id-latest.jpg?cachebuster=@CacheBuster">
        <img src="@Id-latest.jpg?cachebuster=@CacheBuster" />
    </a>
    <h3>
        <a href="@SourceUrl">@DisplayName</a>
    </h3>
</div>

@code {
    [Parameter]
    public string Id { get; set; } = "default-id";

    [Parameter]
    public string DisplayName { get; set; } = "N/A";

    [Parameter]
    public string SourceUrl { get; set; } = "/";

    [Parameter]
    public string CacheBuster { get; set; } = "";
}
