@using System.Globalization;
@using Microsoft.Extensions.Options;
@inject IOptions<LocationOptions> LocationOptions;

@{
    var latitude = LocationOptions.Value.Latitude;
    var longitude = LocationOptions.Value.Longitude;
    var now = DateTime.UtcNow;
}

<div>
@{
    var sunPos = SunCalcNet.SunCalc.GetSunPosition(now, latitude, longitude);
}
    <p>
        Sun altitude: @RadianToDegree(@sunPos.Altitude).ToString("F2", CultureInfo.InvariantCulture)°
    </p>

@{
    var sunPhases = SunCalcNet.SunCalc.GetSunPhases(now, latitude, longitude, 0).ToArray();
    var sunsetTime = sunPhases
        .Single(p => p.Name.Value == SunCalcNet.Model.SunPhaseName.Sunset.Value)
        .PhaseTime;

    var minutesToSunset = (sunsetTime - now).TotalMinutes;
    var roundedMinutesToSunset = (int)Math.Floor(minutesToSunset);
}
    <p>
        Sun sets in @roundedMinutesToSunset.ToString("D", CultureInfo.InvariantCulture) minutes
    </p>

@{
    var moonPos = SunCalcNet.MoonCalc.GetMoonPosition(now, latitude, longitude);
    var moonIllumination = SunCalcNet.MoonCalc.GetMoonIllumination(now);
}
    <p>
        Moon altitude: @RadianToDegree(@moonPos.Altitude).ToString("F2", CultureInfo.InvariantCulture)°
    </p>
    <p>
        Moon illumination: @moonIllumination.Fraction.ToString("P2", CultureInfo.InvariantCulture)
    </p>
</div>

@code {
    private readonly TimeSpan refreshInterval = TimeSpan.FromSeconds(20);

    protected override void OnInitialized()
    {
        var timer = new System.Threading.Timer(e =>
        {
            InvokeAsync(() =>
            {
                StateHasChanged();
            });
        },
        state: null,
        dueTime: refreshInterval,
        period: refreshInterval);
    }

    double RadianToDegree(double radian)
    {
        return 180.0 * radian / Math.PI;
    }
}
