@using System.Globalization;
@using Microsoft.Extensions.Options;
@inject IOptions<LocationOptions> LocationOptions;

@{
    var latitude = LocationOptions.Value.Latitude;
    var longitude = LocationOptions.Value.Longitude;
    var now = DateTime.UtcNow;

    var sunPos = SunCalcNet.SunCalc.GetSunPosition(now, latitude, longitude);
    var sunPhases = SunCalcNet.SunCalc.GetSunPhases(now, latitude, longitude, 0).ToArray();
    var sunsetTime = sunPhases
        .Single(p => p.Name.Value == SunCalcNet.Model.SunPhaseName.Sunset.Value)
        .PhaseTime;

    var minutesToSunset = (sunsetTime - now).TotalMinutes;
    var roundedMinutesToSunset = (int)Math.Floor(minutesToSunset);

    var moonPos = SunCalcNet.MoonCalc.GetMoonPosition(now, latitude, longitude);
    var moonIllumination = SunCalcNet.MoonCalc.GetMoonIllumination(now);
    var moonIlluminationFraction = moonIllumination.Fraction;
}

<div>
    <p>
        Sun altitude: @RadianToDegree(@sunPos.Altitude).ToString("F2", CultureInfo.InvariantCulture)°
    </p>
    <p>
        Sun sets in @roundedMinutesToSunset.ToString("D", CultureInfo.InvariantCulture) minutes
    </p>
    <p>
        Moon altitude: @RadianToDegree(@moonPos.Altitude).ToString("F2", CultureInfo.InvariantCulture)°
    </p>
    <p>
        Moon illumination: @moonIlluminationFraction.ToString("P2", CultureInfo.InvariantCulture)
    </p>
</div>

@code {
    double RadianToDegree(double radian)
    {
        return 180.0 * radian / Math.PI;
    }
}
